openapi: 3.1.0
info:
  title: xFinance Rental AI API
  description: |
    White-label, tenant-scoped advisor HTTP surface (`/api/ai/rent/*`).
    **Static export:** `rental-ai` paths and schemas for MCP / agent tooling.
    **Canonical live document:** `GET https://atx.fintech-advisor.ai/api/openapi` (filter tag `rental-ai`).
    **Product:** [aTx Trusted Advisory](https://atx.fintech-advisor.ai/).
  version: 1.0.1
  contact:
    name: aTx Finance
    url: https://atx.fintech-advisor.ai/

servers:
  - url: https://atx.fintech-advisor.ai
    description: Production — aTx Trusted Advisory (Next.js product + API origin)

tags:
  - name: rental-ai
    description: |
      Bearer `atxr_*` keys on `core_tenants.apiKeys` with scopes `chat`, `strategy`, `analyze`.

security:
  - rentalBearer: []

paths:
  /api/ai/rent/chat:
    post:
      tags: [rental-ai]
      summary: Rental AI chat (tenant-scoped xChat tool-loop)
      description: |
        Authenticate with `Authorization: Bearer atxr_*` and **chat** scope.
        Injects tenant `strategyBias` and workspace snapshot (owned `portfolioId` or sample portfolio from `rentalProfile`).
        **JSON:** `200` with envelope below.
        **Streaming:** `Accept: text/event-stream` **or** `"stream": true` — SSE with `chat.completion.chunk` deltas and terminal `data: [DONE]`.
        Token metering; successful JSON includes **x-rental-tokens-used** and **x-rental-tokens-remaining** headers.
      operationId: rentalAiChat
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RentalAiChatRequest"
      responses:
        "200":
          description: |
            Assistant markdown in `data.response` unless SSE was requested (then `text/event-stream`, not `application/json`).
          headers:
            x-rental-tokens-used:
              description: Tokens consumed for the tenant in the current UTC day after this completion.
              schema:
                type: string
            x-rental-tokens-remaining:
              description: Tokens remaining in `rentalProfile.maxDailyTokens` for the UTC day after this completion.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RentalAiChatJsonResponse"
        "400":
          description: Invalid JSON or validation error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
        "401":
          description: Missing or invalid rental API key.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Rental inactive, expired, scope mismatch, or API keys disabled.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Rate limit, concurrency, or token budget exhausted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorResponse"
        "502":
          description: xAI provider error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Unhandled server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/ai/rent/strategy:
    post:
      tags: [rental-ai]
      summary: Rental AI strategy job (accept + poll)
      description: |
        **strategy** scope. **202** returns `jobId` + relative `pollUrl`.
        **GET** `/api/ai/rent/strategy?jobId=` with the same Bearer returns job status and result.
      operationId: rentalAiStrategyPost
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RentalAiStrategyPostRequest"
      responses:
        "202":
          description: Job accepted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RentalAiJobAcceptedResponse"
        "400":
          description: Invalid JSON or validation error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
        "401":
          description: Missing or invalid rental API key.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Rental inactive, expired, scope mismatch, or API keys disabled.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Rate limit, concurrency, or token budget exhausted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorResponse"
        "500":
          description: Unhandled server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    get:
      tags: [rental-ai]
      summary: Poll rental AI strategy job
      operationId: rentalAiStrategyPoll
      parameters:
        - name: jobId
          in: query
          required: true
          description: ObjectId hex returned from `POST /api/ai/rent/strategy`.
          schema:
            type: string
            minLength: 8
            maxLength: 32
      responses:
        "200":
          description: Job status and payload.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RentalAiJobPollResponse"
        "400":
          description: Missing jobId.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Missing or invalid rental API key.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Rental inactive, expired, scope mismatch, or API keys disabled.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Job not found for tenant.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Unhandled server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/ai/rent/analyze:
    post:
      tags: [rental-ai]
      summary: Rental AI portfolio analyze job (accept + poll)
      description: |
        **analyze** scope. Same **202** + **GET** poll pattern as strategy.
      operationId: rentalAiAnalyzePost
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RentalAiAnalyzePostRequest"
      responses:
        "202":
          description: Job accepted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RentalAiJobAcceptedResponse"
        "400":
          description: Invalid JSON or validation error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
        "401":
          description: Missing or invalid rental API key.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Rental inactive, expired, scope mismatch, or API keys disabled.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Rate limit, concurrency, or token budget exhausted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorResponse"
        "500":
          description: Unhandled server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    get:
      tags: [rental-ai]
      summary: Poll rental AI analyze job
      operationId: rentalAiAnalyzePoll
      parameters:
        - name: jobId
          in: query
          required: true
          description: ObjectId hex returned from `POST /api/ai/rent/analyze`.
          schema:
            type: string
            minLength: 8
            maxLength: 32
      responses:
        "200":
          description: Job status and payload.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RentalAiJobPollResponse"
        "400":
          description: Missing jobId.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Missing or invalid rental API key.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Rental inactive, expired, scope mismatch, or API keys disabled.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Job not found for tenant.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Unhandled server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

components:
  securitySchemes:
    rentalBearer:
      type: http
      scheme: bearer
      bearerFormat: "atxr_<16-hex-key-id>_<64-hex-secret>"
      description: |
        Per-tenant API keys stored hashed on `core_tenants.apiKeys`.
        Each key lists allowed scopes (`chat`, `strategy`, `analyze`).

  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
      additionalProperties: true

    ValidationErrorResponse:
      type: object
      properties:
        error:
          type: string
      additionalProperties: true

    RateLimitErrorResponse:
      type: object
      properties:
        error:
          type: string
      additionalProperties: true

    RentalAiChatRequest:
      type: object
      required: [message]
      properties:
        message:
          type: string
          minLength: 1
          maxLength: 32000
        portfolioId:
          type: string
          minLength: 24
          maxLength: 24
          description: Mongo ObjectId hex for an owned portfolio; when omitted, server uses `rentalProfile.samplePortfolioId` when set.
        stream:
          type: boolean
          description: >-
            When true or when request uses Accept text/event-stream, response is SSE instead of JSON.

    RentalAiChatJsonResponse:
      type: object
      required: [ok, correlationId, tenantSlug, data]
      properties:
        ok:
          type: boolean
          enum: [true]
        correlationId:
          type: string
        tenantSlug:
          type: string
        data:
          type: object
          required: [response, model, usage]
          properties:
            response:
              type: string
              description: Assistant markdown.
            model:
              type: string
            usage:
              type: object
              description: xAI Responses usage fields when present.
              additionalProperties: true

    RentalAiStrategyPostRequest:
      type: object
      required: [symbols]
      properties:
        symbols:
          type: array
          minItems: 1
          maxItems: 64
          items:
            type: string
            minLength: 1
            maxLength: 32
        portfolioId:
          type: string
          minLength: 24
          maxLength: 24
          description: Optional Mongo ObjectId hex.
        notes:
          type: string
          maxLength: 8000

    RentalAiAnalyzePostRequest:
      type: object
      properties:
        jobId:
          type: string
          minLength: 8
          maxLength: 128
        deepRun:
          type: boolean

    RentalAiJobAcceptedResponse:
      type: object
      required: [ok, correlationId, code, data]
      properties:
        ok:
          type: boolean
          enum: [true]
        correlationId:
          type: string
        code:
          type: string
          enum: [accepted]
        data:
          type: object
          required: [jobId, status, pollUrl]
          properties:
            jobId:
              type: string
            status:
              type: string
              enum: [accepted]
            pollUrl:
              type: string
              description: Relative URL — prefix with deployment origin.

    RentalAiJobPollResponse:
      type: object
      required: [ok, correlationId, data]
      properties:
        ok:
          type: boolean
          enum: [true]
        correlationId:
          type: string
        data:
          type: object
          required: [jobId, status, scope, result, createdAt, updatedAt]
          properties:
            jobId:
              type: string
            status:
              type: string
            scope:
              type: string
              enum: [strategy, analyze]
            result:
              type: ["object", "null"]
              description: Opaque job payload.
              additionalProperties: true
            createdAt:
              type: string
              format: date-time
            updatedAt:
              type: string
              format: date-time
